apiVersion: v1
kind: Secret
metadata:
  name: grafana-github-oauth
  namespace: prometheus # Ingress와 동일하게 일치
type: Opaque
stringData:
  GF_AUTH_GITHUB_CLIENT_SECRET: "YOUR_GITHUB_CLIENT_SECRET_HERE"
  GF_SECURITY_ADMIN_PASSWORD: "ADMIN_PASSWORD" # admin 계정 비밀번호